h1 {
  margin-top: 50px;
  text-align: center;
  width: 0 auto;
  font-size: 100px;
  margin-left: 0;
  color: white;
  text-shadow: 3px 3px 30px rgba(255, 255, 255, 0.5);
}
nav {
  margin-top: -50px;
}

ul {
  list-style: none;
}


li {
  display: inline-block;
}
body {
  width: 480px;
  margin: 0 auto;
  background: linear-gradient(
    to top,
    #00aaff,
    #0099e6,
    #0088cc,
    #0077b3,
    #006699,
    #005580,
    #004466,
    #00334d    
    );
}
.menu a{
  float: left;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 15px;
  font-size: 23px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 10px black;
}
.menu1 a:hover {
  transition: 0.9s;
  color:rgb(255, 61, 61);}

.menu2 a:hover {
  width: 120px;
  background: linear-gradient(
    #ff5643,
    #ff8630,
    #ffffff);
  border-radius: 15px;
  color : white;
  transition : 1s;
}

.menu3 a:hover {
  transition: all 0.2s linear;
  transform: rotate(370deg);
}
a:visited{
  color: none}

main {
  text-align: center;
}


button {
  width: 90px;
  height: 90px;
  margin-left: 50px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.374);
  transition: all 0.2s linear;
}

.btn button:after {
  font-size: 30px;
  color: rgb(34, 34, 34);
  content: '˘﹃˘';
}

.btn button:hover {
  transform: scale(1.2);
}

.btn button:hover:after {
  font-size: 20px;
  color: rgb(10, 10, 10);
  content: '˃̵ࡇ˂̵';
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
}


.no1{
  column-count: 5;
}

div .no1{
  margin-left: -200px;
}

#gbt1 {
  background: linear-gradient(
    160deg,
    #fff4ab,
    #f8cb00
    
  );}
#gbt11 {
  background: linear-gradient(
    160deg,
    #ABDCFF,
    #0396FF
  );}
#gbt21 {
  background: linear-gradient(
    160deg,
    #FEB692,
    #EA5455
  );}
#gbt31 {
  background: linear-gradient(
    160deg,
    #CE9FFC,
    #7367F0
  );}
#gbt41 {  
  background: linear-gradient(
    160deg,
    #90F7EC,
    #32CCBC
  );}
#gbt2 {
  background: linear-gradient(
    160deg,
    #fff6b7,
    #F6416C
  );}
#gbt12 {
  background: linear-gradient(
    160deg,
    #81FBB8,
    #28C76F
  );}
#gbt22 {
  background: linear-gradient(
    160deg,
    #E2B0ff,
    #9F44D3
  );}
#gbt32 {
  background: linear-gradient(
    160deg,
    #F97794,
    #623AA2
  );}
#gbt42 {
  background: linear-gradient(
    160deg,
    #FCCF31,
    #F55555
  );}
#gbt3 {
  background: linear-gradient(
    160deg,
    #F761A1,
    #8C1BAB
  );}
#gbt13 {
  background: linear-gradient(
    160deg,
    #43CBFF,
    #9708CC
  );}
#gbt23 {
  background: linear-gradient(
    160deg,
    #5EFCE8,
    #736EFE
  );}
#gbt33 {
  background: linear-gradient(
    160deg,
    #FAD7A1,
    #E96D71
  );}
#gbt43 {
  background: linear-gradient(
    160deg,
    #ffD26F,
    #3677FF
  );}
#gbt4 {
  background: linear-gradient(
    160deg,
    #A0FE65,
    #FA016D
  );}
#gbt14 {
  background: linear-gradient(
    160deg,
    #FFDB01,
    #0E197D
  );}
#gbt24 {
  background: linear-gradient(
    160deg,
    #fec163,
    #DE4313
  );}
#gbt34 {
  background: linear-gradient(
    160deg,
    #92FFC0,
    #002661
  );}
#gbt44 {
  background: linear-gradient(
    160deg,
    #eead92,
    #6018DC
  );}
#gbt5 {
  background: linear-gradient(
    160deg,
    #F05F57,
    #360940
  );}
#gbt15 {
  background: linear-gradient(
    160deg,
    #F6CEEC,
    #D939CD
  );}
#gbt25 {
  background: linear-gradient(
    160deg,
    #52E5E7,
    #130cb7
  );}
#gbt35 {
  background: linear-gradient(
    160deg,
    #f1ca74,
    #a64db6
  );}
#gbt45 {
  background: linear-gradient(
    160deg,
    #e8d07a,
    #5312d6
  );}
#gbt6 {
  background: linear-gradient(
    160deg,
    #eece13,
    #b210ff
  );}
#gbt16 {
  background: linear-gradient(
    160deg,
    #79f1a4,
    #0e5cad
  );}
#gbt26 {
  background: linear-gradient(
    160deg,
    #fdd819,
    #e80505
  );}
#gbt36 {
  background: linear-gradient(
    160deg,
    #fff3b0,
    #ca26ff
  );}
#gbt46 {
  background: linear-gradient(
    160deg,
    #fff5c3,
    #9452a5
  );}
#gbt7 {
  background: linear-gradient(
    160deg,
    #74276c,
    #c53364,
    #fd8263
  );}
#gbt17 {
  background: linear-gradient(
    160deg,
    #274b74,
    #8233c5,
    #e963fd
  );}
#gbt27 {
  background: linear-gradient(
    160deg,
    #879af2,
    #d3208b,
    #fda000
  );}
#gbt37 {
  background: linear-gradient(
    160deg,
    #8929ad,
    #436aac,
    #43b7b8
  );}
#gbt47 {
  background: linear-gradient(
    160deg,
    #276174,
    #33c58e,
    #63fd88
  );}
#gbt8 {
  background: linear-gradient(
    160deg,
    #574bcd,
    #2999ad,
    #41e975
  );}
#gbt18 {
  background: linear-gradient(
    160deg,
    #363553,
    #903775,
    #e8458b
  );}
#gbt28 {
  background: linear-gradient(
    160deg,
    #5c2774,
    #335cc5,
    #637ffd
  );}
#gbt38 {
  background: linear-gradient(
    160deg,
    #ea5a6f,
    #de791e,
    #fccf3a
  );}
#gbt48 {
  background: linear-gradient(
    160deg,
    #f17b41,
    #e05ba2,
    #cd4bc9
  );}
#gbt9 {
  background: linear-gradient(
    #f9c1eb,
    #a991d3
  );}
#gbt19 {
  background: linear-gradient(
    #c5eee2,
    #f9d4f4
  );}
#gbt29 {
  background: linear-gradient(
    #e7dee9,
    #fdcaf1
  );}
#gbt39 {
  background: linear-gradient(
    #eddffc,
    #cd9ff2
  );}
#gbt49 {
  background: linear-gradient(
    #a8c0ed,
    #f4c4ec
  );}
#gbt10 {
  background: linear-gradient(
    #dde0fa,
    #f0cbf6
  );}
#gbt20 {
  background: linear-gradient(
    #fccb90,
    #d57eea
  );}
#gbt30 {
  background: linear-gradient(
    #b8cae8,
    #ef81de
  );}
#gbt40 {
  background: linear-gradient(
    #38adae,
    #cd295a
  );}
#gbt50 {
  background: linear-gradient(
    #ff61d2,
    #fe9090
  );}