body {
  position: relative;
  width: 1130px;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -.2px;
  background-color: rgb(71, 69, 69);
}
.backgrund {
  width: 1200px;
  height: 1600px;
  background-color: white;
  position:absolute;
}
div .p1{display: inline;
  width: 3000px;
  height: 3000px;
background-color: black;}