body {
  width:500px;
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
}

.butten {
  background-color: bisque;
  text-align: center;
}
ul li {
  list-style-type: none;
}

ul.content1 {
  border: none;
  width: 500px;
  height: 50px;
  box-shadow: 3px 3px 10px rgba(155, 182, 255, 0.445);
  display: inline;

}

.content1 button{
  text-align: center;

  display: inline-block;
}